@import "bootstrap-sprockets";
@import "bootstrap";
/*
 * Specific styles of signin component
 */
/*
 * General styles
 */


html, body {
  height: 100%;
}

.footer {
  background-color: #ccc;
  width: 100%;
  padding: 20px;
}

rect{
	cursor: pointer;
}
rect:hover {
    fill: brown !important;
}

.page-header{
	margin-left : 30px;
}

.selection{
	margin-left : 30px;
}